body {
	background: white;
	font: normal normal normal 10pt Verdana, Geneva, Helvetica, Arial, sans-serif;
	color: black;
	text-align: left;
	margin: 20px 40px;
	padding: 0;
	border: none;
}

h1 {
	font-weight: normal;
	font-size: 16pt;
	letter-spacing: 0.1em;
	margin-top: 10pt;
	margin-bottom: 0;
	font-variant: small-caps;
	color: #990000;
}

th, h2 {
	text-align: left;
	font-weight: bold;
	font-size: 10pt;
}

.verbose {
	font-size: 12pt;
	letter-spacing: 0.1em;
	margin-top: 10pt;
	margin-bottom: 0;
}

table, tr, th, td  {
	vertical-align: top;
	border: none;
}
td, th {
	padding-right: 10pt;
}

ul {
	margin-top: 0;
}

p {
	margin-top: 0;
	margin-bottom: 6pt;
}

.code, .codeblock {
	font-family: 'Lucida Console', monospace;
}

.codeblock {
	display: block;
	white-space: pre;
	margin-top: 0;
}

img {
	border: none;
}

#logo {
	margin: 0 30px;
	float: right;
}

#w3c {
	margin: 0 30px;
	float: right;
}

form {
	margin-bottom: 20px;
}

a {
	text-decoration: none;
}
a:link, a:visited {
	color: blue;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: red;
}

.redlink{ /* Used when linking to wiki articles that do not exist */
	color: red !important;
}
.bluelink{ /* Used when linking to wiki articles that exist */
	color: blue !important;
}
/*a.redlink:link, a.redlink:visited {
	color: red;
}*/
.redirect {
	color: #339966;
}

.stats, .info {
	color: gray;
	font-size: 8pt;
	margin-bottom: 0;
}

.stats {
	padding-top: 20px;
}

.info a:link, .info a:visited {
	color: gray;
	border-bottom: 1px dotted #006699;
	/*text-decoration: underline dotted #006699;*/
}
.info a:hover {
	color: #006699;
	text-decoration: underline;
	border-bottom: none;
}
